<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Product List</h1>
    <a href="/inventory/add/">
        <button>Add Product</button>
    </a>
    {% for p in Products %}
        <h2>{{p.name}}</h2>
        <h2>{{p.price}}</h2>
        <h2>{{p.qty}}</h2>
        <a href="/inventory/edit/{{p.id}}/">
            <button>Edit</button>
        </a>
        <hr>
        {% empty %}
            <p>No Produts found</p>
    {% endfor %}
</body>
</html>